h1, h2, h3 {
    text-align: center;
}

p, ol li {
    margin: 0 30%;
}

img {
    display: block;
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin-top: 10px;
    width: 120px;
    border: none;
    background-color: lightskyblue;
    color: #fff;
    cursor: pointer;
    padding: 8px;
}

#resposta > p {
    margin-left: 49%;
}

#formula > p {
    margin-left: 46%;
}

#delta {
    margin-top: 15px;
    margin-bottom: 10px;
}